body{
    background-color: #e6f1ff;
}

h1{
    color: red;
    text-align: center;
}

.title-icon{
    width: 32px;
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-gen{
    width: 225px;
    margin-bottom: 5px;
}